@use '../../../scss/variables' as *;

.noScroll {
    overflow-y: hidden;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backdrop {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.container {
    width: min(450px, 95%);
    height: fit-content;
    position: relative;
    z-index: 15;
    background-color: $clr--white;
    color: $clr--black;
    border-radius: 8px;
    padding: 20px;
    text-align: center;

    max-height: 90vh;

    overflow-y: scroll;
}

.closeIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}
