@use './scss/variables' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(
        90deg,
        rgba(16, 78, 33, 1) 0%,
        rgba(13, 100, 47, 1) 50%,
        rgba(16, 78, 33, 1) 100%
    );
}

body {
    width: 100%;
    height: 100%;
    color: $clr--black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: transparent;

    overflow-x: hidden;
}

#root {
    width: 100%;
    height: 100%;
}

*::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(88, 88, 88, 0.8);
    border-radius: 4px;
}
