@use '../../scss/mixins' as *;

.paginationContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: min(3%, 1.5rem);
}

.noCoins {
    width: min(520px, 100%);

    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    align-items: center;

    button {
        width: fit-content;
    }
}
