@use '../../../scss/variables' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    width: 100%;
    flex-wrap: wrap;
    gap: min(3rem, 6%);
    border-bottom: 2px solid currentColor;
    background: $clr--white;
    box-shadow: $generic-shadow;

    @media (max-width: 1041px) {
        flex-direction: column;

        gap: 1.5rem;

        & > * {
            width: 95%;
        }
    }
}

.topCoinBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(620px, 100%);
    gap: 1rem;

    & > span:first-child {
        border-bottom: 1px solid currentColor;
        font-weight: 500;
    }
}

.topCoin {
    font-weight: 400;

    &#{Container} {
        list-style: none;

        display: flex;
        width: 100%;
        gap: min(1rem, 3%);
        flex-wrap: wrap;

        font-size: 0.9rem;

        align-items: center;
        justify-content: center;
    }
}

.portfolioBlock {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    align-items: center;
    justify-content: center;

    &__labels {
        gap: 0.6rem;

        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

        & > span:first-child {
            border-bottom: 1px solid currentColor;
            font-weight: 500;
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: min(1rem, 5%);
    }

    &__priceDiff {
        &_neg {
            color: $clr--danger;
        }

        &_pos {
            color: $clr--green;
        }
    }
}
