.portfolioItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
        border-bottom: 1px solid currentColor;
        padding-bottom: 0.5rem;
    }

    &__info {
        display: flex;

        flex-direction: column;

        justify-content: center;

        padding: 0.5rem;
        gap: 0.8rem;

        text-align: start;

        &__name {
            font-weight: 500;
            font-size: 1.1rem;
        }

        &__general {
            display: flex;

            flex-direction: column;
            gap: 0.8rem;
        }
    }
}
