$clr--primary: hsl(230, 85%, 50%);
$clr--secondary: hsl(0, 0%, 50%);
$clr--danger: hsl(10, 85%, 50%);

$clr--green: hsl(160, 100%, 25%);
$clr--light-green: hsl(160, 100%, 40%);

$clr--black: #222;
$clr--dark-grey: #333;
$clr--light-gray: #aaa;
$clr--white: #fff;

$clr--backdrop: rgba(0, 0, 0, 0.5);

$generic-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
